<footer>
  <hr>
  <p>
    <center>
      Copyright © 2020 Micah Snyder
      |
      <a href="https://twitter.com/0xC0000063"><img src="https://abs.twimg.com/favicons/twitter.ico" width="20" height="20"></a>
      <a href="https://github.com/micahsnyder"><img src="https://github.githubassets.com/favicons/favicon-dark.png" width="20" height="20"></a>
      <a href="https://gitlab.com/micahsnyder"><img src="https://gitlab.com/assets/favicon-7901bd695fb93edb07975966062049829afb56cf11511236e61bcf425070e36e.png" width="20" height="20"></a>
    </center>
  </p>
  <br>
</footer>